bcrypt
beautifulsoup4
cryptography
fastapi
httpx
ollama
openai
playwright==1.62.0
playwright-stealth
tls-client==1.7.5
curl-cffi==0.6.4
psycopg2-binary
pydantic
PyPDF2
python-docx
python-dotenv
python-multipart
redis
reportlab
requests
schedule
selenium
sqlalchemy
uvicorn
uvicorn[standard]
webdriver-manager
